@font-face {
  font-family: "AvantGardeC";
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "AvantGardeCBold";
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "BebasNeueCyrillic";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/frontend/BebasNeueCyrillic.ttf") format("truetype"); }

@font-face {
  font-family: "MagistralBlack";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/frontend/MagistralBlack.TTF") format("truetype"); }

@font-face {
  font-family: "MagistralBold";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/frontend/MagistralBold.TTF") format("truetype"); }

@font-face {
  font-family: "Magistral";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/frontend/Magistral.TTF") format("truetype"); }
